# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA

/.idea
/*.iml
/out/
/.settings
/test-output
/.classpath
/.project

# Node.js / JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
.env